

 
  $header-height :90px;
  $header-height-tablet:75px;
  $header-height-mobile:50px;
.nav-btn {
    
   
    box-sizing: border-box;
    width: 168px;
   
    background-color: #B0B885;
    font-size: 18px;
    display: block;
    min-height: 51px;
    margin-left: 25px;
    border-radius: 30px;
    line-height: 48px;
    text-align: center;
    font-family: "Foundry Sans"; 
    font-weight: 600;
    color: white !important;
    font-size: 20px;
    display: flex;
    
    justify-content: center;
    @media screen and (max-width: $tablet){
      margin : 0 auto;
    margin-top: 10px;
    
   
  }
}

main{
  margin-top: 104px;
  @media screen and (max-width: $tablet){
      margin-top: 94px;

  }
}
.menu-toggle {
  margin-top: 3px;
    width: 25px;
    display: block;
}
.menu-toggle span {
  width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
    background: #010101;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.13);
  z-index: 9999;
  height: $header-height;
  box-sizing: border-box;
  background-color: #fff;

  
  @media screen and (max-width: $tablet){
    height: $header-height-tablet;
  }
  @media screen and (max-width: $mobile){
    height: $header-height-mobile;
  }
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);

  // .header__container

  &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
  }

  // .header__wr-logo

  &__wr-logo {
      max-width: 170px;
      img{
          width: 100%;
      }
      @media screen and (max-width: $tablet){
        max-width: 125px;
      }
      @media screen and (max-width: $mobile){
        max-width: 100px;
      }
      
  }

  // .header__wr-nav

  &__wr-nav {
  }

  // .header__nav

  &__nav {
    
  }

  // .header__wr-burger

  &__wr-burger {
      display: none;
      @media screen and (max-width: $tablet){
          display: flex;
      }

  }
}
.nav-links{
  padding-left: 30px;
  margin-right: 30px;
  @media screen and (max-width: $tablet){
   padding-left: 0px;
   margin-right: 0px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet){
      display: flex !important;
  }
  @media screen and (max-width: $tablet){
      display: none;
      position: absolute;
      top: $header-height;
      left: 0;
      width: 100%;
      background-color: #ffff;
      padding: 0 0 25px;
      box-sizing: border-box;
      box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.13);
  }
  @media screen and (max-width: $tablet){
    top: $header-height-tablet;
  }
  @media screen and (max-width: $mobile){
      top: $header-height-mobile;
  }
  
  ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: $tablet){
          flex-direction: column;
      }
  }
  li{
      font-size: 20px;
      color: #000;
      margin-right: 10px;
      font-weight: 600;
      box-sizing: border-box;
      text-align: center;
      @media screen and (max-width: $tablet){
          margin-right: 0px;
          padding: 10px;
          width: 100%;
         

      }
      &:last-child{
        margin-right: 0px;
          @media screen and (max-width: $tablet){
              

          }
      }
      a:hover {
        color:#1bb90b ;
        transition: color 0.5s;
      }
      .iim {
        height: 24px;
        img {
          height: 100%;
        }
      }
      a{
        
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        text-transform: uppercase;
        
        /* black */
        
        color: #32353F;
        transition: color 0.5s;
          @media screen and (max-width: $tablet){
              
              display: block;
              
          }

      }
  }
  // .nav__btn
  .additional {
    margin-left: 150px;
    @media screen and (max-width: 1150px){
      margin-left: 25px;
      
    }
    @media screen and (max-width: 991px){
      margin-left: 0px;
      
    }
    li:last-child {
      margin-right: unset;
    }
    li {
      text-transform: unset;
      margin-right: 20px;
      @media screen and (max-width: 991px){
        margin-right: 0px;
        
      }
    } 
    a{
      width: fit-content;
      margin: 0 auto;
    }
    .call-us-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 991px){
       max-width: 175px;
        width: 100%;
        margin: 0 auto;
      }
     
      .call-us-a {
      
        
        font-weight: bolder;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 18px */
        
        position: relative;
        /* black */
  
        color: #32353F;
        
      }
      .p {
        font-weight: normal;
        padding-right: 10px;
        color: #000000;
      }
    }
    .telezka {
      position: relative;
      .r {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
        background: #138A07;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
         p {
          
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          /* identical to box height */

         
          text-transform: uppercase;

          /* #333333 */

          color: #FFFFFF;
         }
      }
    }
    
  }
 
}
//Animation
.menu-toggle.burger span.top {
  -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.menu-toggle.burger span.middle {
  width: 100%;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
}
.menu-toggle.burger span.bottom {
  -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.header__wr-nav.active .menu-toggle span.top {
  -webkit-transform: rotate(45deg) translate(5px, 10px);
    -ms-transform: rotate(45deg) translate(5px, 10px);
    transform: rotate(45deg) translate(5px, 10px);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.header__wr-nav.active .menu-toggle span.middle{
  width: 0%;
    opacity: 0;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.header__wr-nav.active .menu-toggle span.bottom{
  -webkit-transform: rotate(-45deg) translate(0px, -5px);
    -ms-transform: rotate(-45deg) translate(0px, -5px);
    transform: rotate(-45deg) translate(0px, -5px);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.logo-shift {
  margin-top: -22px;
  @media screen and (max-width: 991px){
   margin-top: -10px;
    
  }
  @media screen and (max-width: 565px){
    margin-top: 0px;
     
   }
}